@model List<FrisFoodBV.Models.VoorraadModel>
@{
    ViewBag.Title = "Voorraad";
}

<br />
<h1>@ViewBag.ProductNaam</h1>
<table border="1">
    <tr>
        <th>vestiging</th>
        <th>product_id</th>
        <th>aantal</th>
    </tr>
    @foreach (var s in Model)
    {
    <tr>
        <td>@s.VestigingId</td>
        <td>@s.ProductId</td>
        <td>@s.VoorraadAantal</td>
    </tr>
    }

</table>