@model List<FrisFoodBV.Models.ProductModel>
@{
    <link href="~/Content/Site.css" rel="stylesheet" />

    ViewBag.Title = "Products";
}

<br />
<table border="1">
    <tr>
        <th>product_id</th>
        <th>product_naam</th>
        <th>product_merk</th>
        <th>voorraad per vestiging</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Naam</td>
            <td>@product.Merk</td>
            <td>@Html.ActionLink("Stock", "Stock", new { productId = product.Id })</td>
        </tr>
    }

</table>