@model FrisFoodBV.Models.ProductModel

@using (Html.BeginForm("Add", "Products"))
{
    @Html.LabelFor(m => m.Naam)
    @Html.TextBoxFor(m => m.Naam)


    @Html.LabelFor(m => m.Merk)
    @Html.TextBoxFor(m => m.Merk)


    <button type="submit">Add</button>
}
